@import "tailwindcss";

@layer base {
  body {
     @apply bg-slate-950 text-slate-50;
  }
}

@layer components {
  .text-accent {
    @apply text-emerald-400;
  }
  .bg-accent {
    @apply bg-emerald-500;
  }
}